<div class="sidebar-wrapper">
    <div class="logo">
        <a href="#" class="simple-text">
            <div class="logo-img">
                <img src="/assets/img/angular2-logo-white.png" alt="Logo" />
            </div>
            Ensitech
        </a>
    </div>
    <ul class="nav responsive-nav">
        <li *ngIf="isMobileMenu()">
            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#">
                <i class="fa fa-dashboard"></i>
                <p class="d-lg-none d-md-none">Dashboard</p>
            </a>
        </li>
        <li class="dropdown" *ngIf="isMobileMenu()">
            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#">
                <i class="fa fa-globe"></i>
                <b class="caret d-none d-sm-inline"></b>
                <span class="notification d-none d-sm-inline">5</span>
                <p class="d-lg-none d-md-none">
                    5 Notifications
                    <b class="caret"></b>
                </p>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">Notification 1</a></li>
                <li><a href="#">Notification 2</a></li>
                <li><a href="#">Notification 3</a></li>
                <li><a href="#">Notification 4</a></li>
                <li><a href="#">Another notification</a></li>
            </ul>
        </li>
        <li *ngIf="isMobileMenu()">
            <a href="#">
                <i class="fa fa-search"></i>
                <p class="d-lg-none d-md-none">Search</p>
            </a>
        </li>
        <li *ngIf="isMobileMenu()">
            <a href="#">
                <p>Account</p>
            </a>
        </li>
        <li class="dropdown" *ngIf="isMobileMenu()">
            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#">
                <p>
                    Dropdown
                    <b class="caret"></b>
                </p>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </li>
        <li *ngIf="isMobileMenu()">
            <a href="#">
                <p>Log out</p>
            </a>
        </li>
        <li class="separator d-lg-none d-md-none" *ngIf="isMobileMenu()"></li>
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" [ngClass]="menuItem.class">
            <a [routerLink]="[menuItem.path]">
                <i [ngClass]="menuItem.icon"></i>
                <p>{{ menuItem.title }}</p>
            </a>
        </li>
    </ul>
</div>
